<app-login [login]="client" (output)="onLogin($event)"></app-login>
<p class="text-center">By continuing, you agree to obey <a class="text-decoration-none h6 text-dark" routerLink="/terms-of-service">Terms of Service</a> and ackowledge that <br> you've read our <a class="text-decoration-none h6 text-dark" routerLink="/privacy-policy">Privacy Policy</a></p>
<div class="text-center m-2 h6">
  <a href="" class="text-decoration-none text-dark">Forget your password</a>
</div>
<p class="text-muted text-center">&copy;2022 AlloyMobile Incorporation</p>
