.card-img-top {
  max-width: 320px;
  height: 15rem;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .card-img-top {
    max-width: 160px;
    height: 8rem;
    object-fit: cover;
  }
}

