<table class="{{classes}}">
  <thead>
    <tr>
      <th
        scope="col"
        *ngFor="let h of _tableModel[0] | keyvalue"
      >
        <span *ngIf="h.key != 'id'">{{ capitalize(h.key) }}</span>
      </th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let body of _tableModel; index as j">
      <td *ngFor="let col of body | keyvalue">
        <ng-container
          *ngIf="col.key != 'imageUrl'; then value; else image"
        ></ng-container>
        <ng-template #value>
            <span *ngIf="col.key != 'id'">{{ col.value }}</span>
        </ng-template>
        <ng-template #image>
          <img [src]="col.value" width="40 px" height="40 px" />
        </ng-template>
      </td>
      <td>
        <div class="btn-group" role="group" aria-label="Edit and Delete">
          <button
            class="btn btn-outline-dark btn-sm border-0 mx-1"
            matTooltip="edit"
            (click)="onClicked(body,action.EDIT)"
          >
            <app-icon [icon]="icon.EDIT" classes="mr-3" size="sm"></app-icon>
          </button>
          <button
            class="btn btn-outline-dark btn-sm border-0 mx-1"
            matTooltip="delete"
            (click)="onClicked(body,action.DELETE)"
          >
            <app-icon [icon]="icon.DELETE" classes="mr-3" size="sm"></app-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
